<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello you are logged in.</h1>
    <h1>Chittagong University Printing Service</h1>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <!-- <input type="text" name="person" /> -->
      <h3>Hello, <a name="person" id="username"></a></h3>
      <p><input type="file" name="file" /></p>
      <p>
        <input type="submit" value="Submit" id="image-file" />
      </p>
    </form>

    <!-- <a href="{{url_for('uploadfile')}}">Click here to visit Home Page</a> -->
    <a href="{{url_for('logout')}}">Press Here to Logout</a>

    <script>
      let url_string = window.location;
      let url = new URL(url_string);
      let username = url.searchParams.get("username");
      document.getElementById("username").innerHTML = username;
    </script>
  </body>
</html>
