<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Your File</title>
  </head>
  <body>
    <h1>Chittagong University Printing Service</h1>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <!-- <input type="text" name="person" /> -->
      <h3>Hello, {{username}}</h3>
      <p><input type="file" name="file" /></p>
      <p>
        <input type="submit" value="Submit" id="image-file" />
      </p>
    </form>
  </body>
</html>
